body{
    max-width: 700px;
    min-width:300px;
    margin-left: auto;
    margin-right: auto;
    background-color: burlywood;
    font-size: large;
    
}
h1,h2{
    text-align: center;
}
table{
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    border-color: black;
   
}
ul{
    text-align: center;
    list-style: none;
}
.container{
    padding:10px;
}
.contact-form {
       
    max-width: 400px;
    margin: 0 auto;
    }
    input, textarea, button {
    display: block;
    width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    }
    .cntbtn{
        background-color: rgba(136, 87, 23, 0.776);
    color: #fff;
    cursor: pointer;
    margin-left:auto;
    margin-right: auto;
    }